/* Gaya untuk elemen range slider */
input[type="range"] {
    -webkit-appearance: none; /* Menghilangkan gaya default pada Webkit */
    width: 35%; /* Memperluas slider ke lebar penuh */
    height: 8px; /* Tinggi slider */
    background: #ddd; /* Warna latar belakang slider */
    border-radius: 5px; /* Membuat sudut slider menjadi bulat */
    outline: none; /* Menghilangkan outline saat slider dipilih */
    opacity: 0.7; /* Opasitas slider */
    transition: opacity 0.2s; /* Transisi opasitas */
    margin: 0; /* Menghilangkan margin untuk mencegah pergeseran */
}

input[type="range"]:hover {
    opacity: 1; /* Opasitas penuh saat hover */
}

/* Gaya untuk thumb slider */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Menghilangkan gaya default pada Webkit */
    appearance: none; /* Menghilangkan gaya default */
    width: 20px; /* Lebar thumb */
    height: 20px; /* Tinggi thumb */
    border-radius: 50%; /* Membuat thumb menjadi bulat */
    background: #4CAF50; /* Warna thumb */
    cursor: pointer; /* Mengubah kursor saat hover */
    margin-top: -6px; /* Mengatur posisi thumb agar sejajar dengan track */
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Lebar thumb */
    height: 20px; /* Tinggi thumb */
    border-radius: 50%; /* Membuat thumb menjadi bulat */
    background: #4CAF50; /* Warna thumb */
    cursor: pointer; /* Mengubah kursor saat hover */
}

/* Gaya untuk track slider */
input[type="range"]::-webkit-slider-runnable-track {
    background: #ddd; /* Warna latar belakang track */
    border-radius: 5px; /* Membuat sudut track menjadi bulat */
}

input[type="range"]::-moz-range-track {
    background: #ddd; /* Warna latar belakang track */
    border-radius: 5px; /* Membuat sudut track menjadi bulat */
}
